.App {
  background: #2f3136;
  color: white;
  position: fixed;
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  width:1000px;
  height:450px;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -500px;
}
