html {
  background: lightgray;
}

.App {
  background: #2f3136;
  color: white;
  position: fixed;
  border-radius: 5px;
  box-shadow: 5px 8px 3px black;
  width:1000px;
  height:450px;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -500px;
}

.conversations {
  width: 20%;
  height: 100%;
  position: relative;
  float: left;
  border-right: 1px solid #99AAB5;
  display: inline-block;
}

.friendslist {
  width: 12%;
  height: 100%;
  position: relative;
  float: right;
  text-align: right;
  margin-right: 10px;
  border-left: 1px solid #99AAB5;
  display: inline-block;
}

.convoContainer {
  width: 60%;
  height: 100%;
  bottom: 0;
  left: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: inline-block;
  align-content: bottom;
  text-align: center;
}

div .message {
  color: #2f3136;
  text-align: right;
  margin: 10px;
  padding: 10px;
  background: #9B84EE;
  border-radius: 25px;
  border: 1px solid #99AAB5;
  top: 5px;
  bottom: 5px;
}

#message-bar-input {
  width: 70%;
  font-size: 20px;
  background: #36393F;
  color: #99AAB5;
  border-radius: 15px;
  border: 2px solid #99AAB5;
  padding: 5px;
  margin-right: 10px;
}

#message-bar-submit {
  width: 15%;
  background: #36393F;
  color: #99AAB5;
  border: 2px solid #99AAB5;
  border-radius: 20px;
  font-size: 20px;
  padding:5px;
}

.user {
  float: left;
}

.timestamp {
  float: right;
}

.content {
  width: 100%;
  display: inline-block;
  font-size: 23px;
}

.convo-tag span {
  text-align: center;
  margin: auto;
  position: relative;
  bottom: 6px;
}

.convo-tag {
  width: 80%;
  font-size: 14px;
  margin: 5px;
  padding: 15px;
  background: #7289da;
  border-radius: 5px;
  border: 1px solid #99AAB5;
}

button {
  width: 75%;
  background: #36393F;
  color: #99AAB5;
  border: 2px solid #99AAB5;
  border-radius: 10px;
  padding:5px;
}

.convo-name {
  background: #36393F;
  border: 2px solid #99AAB5;
  color: #99AAB5;
  position: relative;
  border-radius: 10px;
  width: 45%;
  height: 30px;
  top: 25px;
}

.convo-submit {
  width: 25%;
  position: relative;
  top: 100px;
  background: #36393F;
  color: #99AAB5;
  border: 2px solid #99AAB5;
  border-radius: 10px;
  padding:5px;
}

.friend-checkbox {
  text-align: center;
}

.checkboxes {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 30%;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox-label {
}
